:root {
  // main
  --max-width-content: 1400px;
  --font-family: "Lato", "Arial", sans-serif;
  --font-family-headline: "Lato", "Arial", sans-serif;

  // colors
  --background-color: #fff;
  --text-color: #000;
  --link-color: #000;
  --link-color-hover: #96841a;

  --margin-sm: 1.6rem;
  --margin-md: 2rem;
  --margin-lg: 3.2rem;
  --margin-xl: 4rem;

  --col-gap: 1.6rem;
  --row-gap: 1.6rem;
}

.background_zone {
  --background-color: #000;
  --text-color: #ffff;
  --link-color: #fff;
  --link-color-hover: #96841a;
}
