.section {
  margin-bottom: var(--margin-md);
  @media (width > 979px) {
    margin-bottom: var(--margin-lg);
  }

  &.background_zone {
    padding: var(--margin-md) 0;
    @media (width > 979px) {
      padding: var(--margin-xl) 0;
    }
  }

  .title {
    margin-bottom: var(--margin-md);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.4rem;
    @media (width > 979px) {
      margin-bottom: var(--margin-lg);
      font-size: 3.2rem;
    }
  }
  .subtitle {
    margin-bottom: var(--margin-sm);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.8rem;
    @media (width > 979px) {
      margin-bottom: var(--margin-md);
      font-size: 2.4rem;
    }
  }
}

.background_zone {
  position: relative;
  color: var(--text-color);
  &:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    width: 100vw;
    height: 100%;
    left: calc(50% - 50vw);
    background-color: var(--background-color);
  }
}
